<%- include("partials/header") %>
<div class ='container'>
	<div class ='content'>
	<h2 class='heading'> TSF Online Banking System</h2>	
     
	<p class="main-content">
    
    </p>

 <button class='submit' id="get"><a href="/view">Get Started</a></button>
</div>
</div>
	
<%- include("partials/footer") %>
